@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --skeleton-base: #ebebeb;
  --skeleton-highlight: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit-mono);
  --font-mono: var(--font-outfit-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --skeleton-base: #202020;
    --skeleton-highlight: #444;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
